
.button {
  /* border-style: hidden; */
  border-style: solid;
  border-width: 1.5px;
  /* border-color: #d2ebcd; */
  border-color: #8ea18a;

  /* border: 5px, solid, #282c34; */
  /* border-radius: 2px; */
  /* border-collapse: collapse; */
  /* border-radius:50%; */
  /* width: 60px;
  height: 60px; */
  width: 80px;
  height: 80px;
  display: block;
  /* background-color: #d2ebcd; */
  /* background-color:#fff8f0; */
  background-color: #fff;
  text-align: center;
  /* background-color: #00191e; */
  /* color: #d2ebcd; */
  /* color: #00191e; */
  color: #8ea18a;
  /* font-family: "Libre Caslon",serif; */
  font-size: 22px;
}

.button:active {
  border-color: #8ea18a;
  background-color: #8ea18a;
}

/* .button:focus {
  border-color: #8ea18a;
  background-color: #8ea18a;
} */

.title {
  font-family: "Libre Caslon",serif;
  text-align:center;
  /* color: #d2ebcd; */
  /* color: #00191e; */
  color:#fff8f0;
  font-size: 3.5rem;
}

/* h2 {
  font-family: "Libre Caslon",serif;
  text-align:center;
  color: #d2ebcd;
} */

/* h2 {
  font-family: "Roboto",sans-serif;
	font-weight: 400;
	color: #333;
  text-align: center;
} */

/* h4 {
  font-family: "Libre Caslon",serif;
  text-align:center;
  color: #d2ebcd;
} */

/* h4 {
	font-size: 1.8rem;
	line-height: 2.85rem;
	font-family: "Roboto",sans-serif;
	font-weight: 400;
	color: #333;
} */

.title-banner {
  background-color: #00191e;
  /* background: #fff; */
  width:100%;
  
}


/* .container {
  width: 100%;
  background-color: #00191e;
} */

/* .container-border {
  border-style: solid;
  border-width: 1px;
  border-color: #d2ebcd;
} */

.line {
  color: #8ea18a;
  border-width: 1px;
  /* background-color: #d2ebcd; */
}

#root {
  width: 100%;
  /* background-color: #00191e; */
  /* background-color: #d2ebcd; */

  height:100vmax
}

.light-background {
  /* background-color: #d2ebcd */
  background: #fff;
}

.filter-background {
  background: #fff8f0;
  background-color:#fff8f0;

}

.row-pad {
  padding-top: 12px;
}

/* .checkbox_label {
  font-family: "Libre Caslon",serif;
  text-align:center;
  color: #d2ebcd;
  height: 50px
} */

/*
Class for react-bootstrap checkbox
*/
.form-check {
  /* font-family: "Libre Caslon",serif; */
  font-family: "Roboto",sans-serif;
  /* text-align:center; */
  color: #00191e;

  /* color: #d2ebcd; */
  /* height: 400%;
  width: 400%; */
  /* background-color: #d2ebcd; */
  transform: scale(1);
}



/* 
.block-btn {
  align-items: center;
  justify-content: center;
  width:fit-content;
}

.block-btn {
  width:50px;
} */

/* .alert {
  text-align:center;
  font-size: 35px;
} */