
.button {
  /* border-style: hidden; */
  border-style: solid;
  border-width: 1.5px;
  /* border-color: #d2ebcd; */
  border-color: #8ea18a;

  /* border: 5px, solid, #282c34; */
  /* border-radius: 2px; */
  /* border-collapse: collapse; */
  /* border-radius:50%; */
  /* width: 60px;
  height: 60px; */
  width: 80px;
  height: 80px;
  display: block;
  /* background-color: #d2ebcd; */
  /* background-color:#fff8f0; */
  background-color: #fff;
  text-align: center;
  /* background-color: #00191e; */
  /* color: #d2ebcd; */
  /* color: #00191e; */
  color: #8ea18a;
  /* font-family: "Libre Caslon",serif; */
  font-size: 22px;
}

.button:active {
  border-color: #8ea18a;
  background-color: #8ea18a;
}

.button-filter {
  /* border-style: hidden; */
  border-style: solid;
  border-width: 1.5px;
  border-color: #8ea18a;
  /* width: 80px; */
  /* height: 80px; */
  display: block;
  background-color: #fff;
  text-align: center;
  color: #8ea18a;
  font-size: 15px;
}

.button-filter:active {
  border-color: #8ea18a;
  background-color: #8ea18a;
}

.title {
  font-family: "Libre Caslon",serif;
  text-align:center;
  /* color: #d2ebcd; */
  /* color: #00191e; */
  color:#fff8f0;
  font-size: 3.5rem;
}

.offcanvas {
  width: 100vmax;
  /* color: coral; */
}

.title-banner {
  background-color: #00191e;
  /* background: #fff; */
  width:100%;
  
}



.line {
  color: #8ea18a;
  border-width: 1px;
  /* background-color: #d2ebcd; */
}

html,
body {
  height: 100%;
  margin: 0;
}

.main {
  display: flex;
  flex-flow: column;
  height: 100%; 

  /* width: 100%; \\\last used\\\ */

  /* background-color: #00191e; */
  /* background-color: #d2ebcd; */

  /* height:100vmax  \\\last used\\\ */
}

.light-background {
  /* background-color: #d2ebcd */
  /* background: #fff; \\\last used\\\ */
}

.filter-background {
  /* background: #fff8f0; */
  background-color:#fff8f0;
  height: 100%;
}

.row-pad {
  padding-top: 12px;
}
